.center {
  text-align: center;
}

.bgPrimary {
  background-color: rgb(83, 46, 112);
}

.justify {
  text-align: justify;
}
.container {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
}

.imgFundo {
  background-image: url("../img/terapia-psicodelica-2.jpg");
  background-size: 1400px 1400px;
  background-repeat: no-repeat;
  background-position: bottom;
  padding-bottom: 100px;
}

#menu li {
  display: inline;
  padding: 15px;
}

#menu li a {
  text-decoration: none;
  color: #99619;
  font-size: 20px;
}

#menu li a:hover {
  color: rgb(207, 151, 151);
}

.p-30 {
  padding: 30px;
}

.br-50 {
  border-radius: 50%;
}

.wh-300 {
  object-fit: cover;
  border-radius: 50%;
  width: 300px;
  height: 300px;
}

.tm-social {
  width: 50px;
  height: 50px;
}

.mb-50 {
  margin-bottom: 50px;
}

.ml-50 {
  margin-left: 50px;
}
